@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-white text-black font-sans antialiased text-sm md:text-base selection:bg-black selection:text-white max-w-[100vw] overflow-x-hidden;
}

.stroke-text {
  -webkit-text-stroke: 1px black;
  color: transparent;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

@layer utilities {
  .bg-grid-black {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  }

  .bg-dot-black {
    background-image: radial-gradient(circle, #000000 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

